<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin',:activetab => 'Manage User Details', :overridetab => ''} %>
<div class="admincontainer">

  <%= link_to "Edit Details", current_user.userdetail == nil ? new_user_userdetail_path(current_user.id) : edit_user_userdetail_path(current_user.id,current_user.userdetail)%>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %>
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :name %>
    <%= f.text_field :name %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :password %><i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %></div>

    <div><%= f.hidden_field :signupcode, :value => Rails.application.secrets.signupcode %></div> 

    <div><%= f.submit "Update", :class => 'btn' %></div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
<%= render partial: 'shared/tabfooter' %>