<div class="card userprofile">
    <div class="card-heading image">
        <div class="card-heading-header">
            <h2><%= user.name %></h2>
        </div>
    </div>
    <div class="card-body profilepic">
        <%= image_tag(user.userdetail.images.first.image.url(:original)) if user.has_details? && user.userdetail.has_profilepic? %>
    </div><br />
    <div class="card-actions card-comments">
        <%= link_to "Follow on Github", user.userdetail.github_url, :class => 'btn btn-block', :role => 'button', :target => '_blank' if user.has_details? && user.userdetail.has_github? %>
        <%= link_to "Go to LinkedIn", user.userdetail.linkedin_url, :class => 'btn btn-block', :role => 'button', :target => '_blank' if user.has_details? && user.userdetail.has_linkedin? %>
        <%= link_to "Message Me", '#', :class => 'btn btn-block', :role => 'button' if user.has_details? && user.userdetail.allowmessages %>
    </div>
</div>