<ul class="nav nav-tabs" id="myTab">
	<%= content_tag :li, link_to("Images","#images", :data => {:toggle => "tab"}), :class => "active" %>
	<%= content_tag :li, link_to("Upload","#upload", :data => {:toggle => "tab"}) %>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="images">
		<% object.images.each do |image| %>
			<% if image.id != nil %>
				<%= link_to "#{image_tag(image.image.url(:thumb))}".html_safe, image_path(:id => image.id, :class_id => object.id), method: :delete %>
			<% end %>
		<% end %>
	</div>
	<div class="tab-pane" id="upload">
		<%= f.fields_for :images, object.images.build do |i| %>
				<%= i.label "Image" %>
				<%= i.file_field :image %>
		<% end %>
	</div>
</div>