<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin', :activetab => 'Manage Site', :overridetab => nil} %>
	<div class="admincontainer">
		<%= form_for(@metadata) do |f| %>
			<%= f.label "Title for sidebar" %>
			<%= f.text_field :title %>
			<%= f.label "Title for metatags" %>
			<%= f.text_field :metatitle %>
			<%= f.label "Keywords for metatags" %>
			<%= f.text_field :keywords %>
			<%= f.label "Description for sidebar" %>
			<%= f.text_area :description %>
			<%= f.label "Description for metatags" %>
			<%= f.text_area :metadescription %>
			<%= f.label "Profile Pic" %>
			<%= f.text_field :profilepic_url %>
			<%= f.label "User for About Me Page" %>
			<%= f.select :aboutmeuser, @users, :include_blank => '- No Users Selected -' %>
			<%= f.label "Banner Pic" %>
			<%= f.text_field :bannerpic_url %>
			<%= f.label "Favicon Pic" %>
			<%= f.text_field :favicon_url %>
			<%= f.label "Header Tags (Any metatags)" %>
			<%= f.text_area :headertags %>
			<%= f.label "Google Tags" %>
			<%= f.text_area :googletags %>
			<%= render partial: "shared/imagecontrols", :locals => {:object => @metadata, :f => f, :passingview => "metadata"} %><br /><br />
			<%= f.submit :submit, :class => 'btn' %>
		<% end %>
	</div>
<%= render partial: 'shared/tabfooter' %>