<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin', :activetab => 'Manage Site', :overridetab => nil} %>
	<div class="admincontainer">
		<%= form_for(@metadata) do |f| %>
			<%= f.label "Title" %>
			<%= f.text_field :title %>
			<%= f.label "Keywords" %>
			<%= f.text_field :keywords %>
			<%= f.label "Description" %>
			<%= f.text_area :description %>
			<%= f.label "Profile Pic" %>
			<%= f.text_field :profilepic_url %>
			<%= f.label "Banner Pic" %>
			<%= f.text_field :bannerpic_url %><br />
			<%= f.submit :submit, :class => 'btn' %>
		<% end %>
	</div>
<%= render partial: 'shared/tabfooter' %>