<%= form_for @post, :html => {:multipart => true} do |f| %>
	<div class="row-fluid">
		<div class="span3">
			<%= f.label "Name" %>
			<%= f.text_field :name %>
		</div>
		<div class="span3">
			<%= f.label "Associated Project" %>
			<%= f.select :project_id, @projects, :include_blank => '- No Project -' %>
		</div>
		<div class="span3">
			<%= f.label "Category" %>
			<%= f.select :category_id, @categories %>
		</div>
		<div class="span3">
			<%= f.label "Is Visible?" %>
			<%= f.check_box :visible %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<%= f.label "Content" %>
			<%= f.text_area :content, :class => "redactor" %>
		</div>
	</div><br />
	<div class="row-fluid">
		<div class="span12">
			<%= f.label "Meta Description" %>
			<%= f.text_area :metadescription %>
		</div>
	</div><br />
	<div class="row-fluid">
		<div class="span12">
			<%= f.label "Meta Keywords" %>
			<%= f.text_area :metakeywords %>
		</div>
	</div><br />
	<div class="row-fluid">
		<div class="span12">
			<%= render partial: "shared/imagecontrols", :locals => {:object => @post, :f => f, :passingview => "post"} %>
		</div>
	</div><br />
	<%= f.submit :submit, :class => 'btn' %>
<% end %>