<div class="row-fluid post">
    <div class="span12"> 
        <div class="card">
            <div class="card-heading image">
                <% if post.has_profilepic? %>
                    <%= link_to "#{image_tag(post.images.mainpicture)}".html_safe, post_path(post), :class => "pull-right" %>
                <% end %>
                <div class="card-heading-header">
                    <h1><%= link_to post.name, post_path(post) %>
                    <%= link_to '<i class="icon icon-pencil"></i>'.html_safe, edit_post_path(post.id) if user_signed_in? %>
                    </h1>
                    <h3><span> Published <%= post.created_at.to_s(:long) %></span>  <span>  By <%= link_to post.user.name, user_path(post.user.id) %>  in <%= link_to post.category.name, posts_path(:category_id => post.category_id) %> </span> </h3>
                </div>
            </div>
            <hr>
            <div class="card-body row">
                    <%= post.content.html_safe %>
            </div>

            <div class="card-actions card-comments">
                <button class="btn">+1</button>
                <button class="btn">Share</button>
                <% if post.has_project? && request.env['PATH_INFO'] == root_path %>
                <%= link_to "Go to Project", project_path(:id => post.project_id), :class => 'btn pull-right', :role => 'button' %>
                <% end %>
            </div>
        </div>
    </div>
</div>