<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin', :activetab => 'Manage Posts', :overridetab => nil} %>
	<div class="admincontainer">
		<table class="table">
			<tr>
				<td>Title</td>
				<td>Category</td>
				<td>Related Project</td>
				<td>Posted On</td>
				<td>Visible?</td>
				<td>Likes</td>
				<td>Actions</td>
			</tr>
			<% @posts.each do |p| %>
				<tr>
					<td><%= link_to "#{p.name}", post_path(p.id) %></td>
					<td><%= p.category.name %></td>
					<td><%= p.has_project? ? link_to("#{p.project.name}", project_path(p.project.id)) : nil %></td>
					<td><%= p.created_at.to_s(:long) %></td>
					<td><%= p.visible ? "Yes" : "No" %></td>
					<td><%= p.likes %></td>
					<td><%= link_to "Edit", edit_post_path(p.id) %> | 
					<%= link_to "Delete", post_path(p.id), :method => :delete %></td>
				</tr>
			<% end %>
		</table><br />
		<%= button_to "New Post", new_post_path, :class => 'btn', :method => "get" %>
	</div>
<%= render partial: 'shared/tabfooter' %>