<%= render partial: 'shared/admintabs', :locals => {:activetab => 'Manage Posts', :overridetab => nil} %>
	<div class="admincontainer">
		<table class="table">
			<tr>
				<td>Title</td>
				<td>Category</td>
				<td>Related Project</td>
				<td>Posted On</td>
				<td>Actions</td>
			</tr>
			<% @posts.each do |p| %>
				<tr>
					<td><%= p.name %></td>
					<td><%= p.category.name %></td>
					<td><%= p.has_project? ? p.project.name : nil %></td>
					<td><%= p.created_at.to_s(:long) %></td>
					<td><%= link_to "Edit", edit_post_path(p.id) %> | 
					<%= link_to "Delete", post_path(p.id), :method => :destroy %></td>
				</tr>
			<% end %>
		</table><br />
		<%= button_to "New Post", new_post_path, :class => 'btn', :method => "get" %>
	</div>
<%= render partial: 'shared/adminfooter' %>