<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin', :activetab => 'Manage Categories', :overridetab => nil} %>
	<div class="admincontainer">
		<h3>Categories</h3>
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Number of Posts</td>
				<td>Actions</td>
			</tr>
			<% @categories.each do |c| %>
				<tr>
					<td><%= c.name %></td>
					<td><%= link_to "#{c.postcount}", posts_path(:category_id => c.id) %></td>
					<td><%= link_to "Edit", edit_category_path(c.id) %> | 
					<%= link_to "Delete", category_path(c.id), :method => :destroy %></td>
				</tr>
			<% end %>
		</table><br />
		<%= render partial: 'categoryform' %>
		<h3>Languages</h3>
		<table class="table">
			<tr>
				<td>Name</td>
				<td>No of Projects</td>
				<td>Actions</td>
			</tr>
			<% @languages.each do |l| %>
				<tr>
					<td><%= l.name %></td>
					<td>0</td>
					<td><%= link_to "Edit", edit_language_path(l.id) %> | 
					<%= link_to "Delete", language_path(l.id), :method => :destroy %></td>
				</tr>
			<% end %>
		</table><br />
		<%= render partial: 'languages/languageform' %>
	</div>
<%= render partial: 'shared/tabfooter' %>