<div class="sidebar-nav-fixed affix">
    <div class="card hovercard">
        <%= image_tag "#{@metadata.bannerpic_url}".html_safe, alt: "Cover Photo" %>
        <div class="avatar">
            <%= link_to "#{image_tag(@metadata.profilepic_url)}".html_safe, root_path %>
        </div>
        <div class="info">
            <div class="title">
                <h2><%= @metadata.title %></h2>
            </div>
            <div class="desc"><%= @metadata.description %></div>
        </div>
        <div>
            <div class="desc">
                    <%= link_to "Home", root_path, :class => "#{'active' if request.path == root_path}" %> | <%= link_to "Projects", projects_path , :class => "#{'active' if request.path == projects_path}" %> |
                    <% if user_signed_in? %>
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> | <%= link_to "Manage", metadata_path, :class => "#{'active' if request.path == metadata_path}" %> | <%= link_to "Edit Account", edit_user_registration_path, :class => "#{'active' if request.path == edit_user_registration_path}" %>
                    <% else %>
                        <%= link_to "Log In", new_user_session_path, :class => "#{'active' if request.path == new_user_session_path}" %>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
</div>